.idea
.vscode
/0_docs
/1_exemples
/retour\ Frank
/Présentation
/capture ecran slide
/gestion projet
/conception
/bugs
/front/node_modules
/front/.pnp
/front/.pnp.js
/Prepa questions RNCP
/US
/code\ front
Frank*
/gestion\ erreurs
/jwt
Descloux*
DESCLOUX*
RÉSUMÉ*
RNCP*
/Tests
/back/.idea
/back/target
# testing
coverage

# production
/front/build
/front/.gradle

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


.~lock.ITSCHOOL_P2_-_Avancement_chef_doeuvre_-_Descloux_Frederic.xlsx#

